## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
x=3
print(x)

3

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
a=8.5
print(type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre= "miguel"

5) Crear una variable que contenga un número complejo

In [8]:
complejo=1+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
import numpy as np
npi= np.pi
pi4c= round(pi,4)
print(pi4c)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print (type(var1))
print (type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
suma = 1+ 1.6

11) Realizar una operación de suma de números complejos

In [20]:
comple1 = 5 + 4.j
comple2 = 1 + 2.j
print(comple1+comple2)

(6+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
print(suma + comple1)

(7.6+4j)

13) Realizar una operación de multiplicación

In [24]:
i= 3*4
print(i)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
pot= 2**8
print(pot)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
div=27/4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [27]:
div2=27//4
print(div2)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
mod=27%4
print(mod)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
div2*4+mod

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
name = "miguel"
last=" rodriguez"
print('mi nombre es', name + last )

mi nombre es miguel rodriguez

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
if ("2" == 2):
    print("es igual")
else :
    print("no es igual porque son distintos tipos de varaibles")

no es igual porque son distintos tipos de varaibles

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
if ("2" == str(2)):
    print("es igual")
else :
    print("no es igual porque son distintos tipos de varaibles")

es igual

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
porque 3,8 es una tupla no un float para evitar el error cambiar, por .

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
k=3
k-=1
print(k)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1<<2 
## porque 1 = 0001 en binario y la operacion << corre 2 ceros el 1 entonces la operacion entrega 0100 que en binario es 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
2 + "2" ## si los dos fueron del mismo tipo se permite la operacion

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [45]:
var1 = 'Hola mundo '
var2 = 3
print(var1 * var2)

Hola mundo Hola mundo Hola mundo